@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
p{
    font-family: "Roboto";
}
h1{
    text-align: center;
}
body{
    background-color: rgb(241, 243, 243);
}
/*menu de navegacion*/
header nav ul li{
    display: inline-block;
}
.menu{
    list-style-type: none;
    text-align: center;
    background-color: rgb(172, 228, 238);
}
.menu li{
    padding: 5px 50px;
}
/*submenu de categorias*/
.submenu{
    list-style-type: none;
}
.logo{
    height: 10%;
    width: 10%;
    padding-left: 45%;
}
/*main*/
.mainGatos,
.mainPerros{
    margin: 10px 10px 10px 180px;
}
.acercaNosotros{
    text-align: center;
}
.seccionArticulos{
    display: inline-block;
    display: inline-table;
}
.cajasLista{
    margin: 20px 100px;
}
.seccionCajaOfertas{
    padding: 30px;
    margin-left: 520px;
}
.cajaOfertas{
    padding: 20px;
    margin: 0px 20px;
    background-color: rgb(211, 211, 211);
    display: inline-block;
}
.imagenOferta{
    height: 60px;
    width: 90px;
}
.imagenArticulo{
    height: 180px;
    width: 180px;
}
.cajasLista img{
    height: 180px;
    width: 180px;
}
.cajasLista div form{
    margin-bottom: 30px;
}
.alimento2{
    padding: 30px;
    padding-left: 500px;
}
/*.imagenoferta2 imagen de pagina individual del articulos en oferta*/
.imagenOferta2{
    height: 60px;
    width: 90px;
}
ul li a{
    text-decoration: none;
}
.marcasTrabajadas{
    height: 40%;
    width: 40%;
}
.cajaAdopta img{
    height: 50%;
    width: 50%;
    padding: 20px;
    margin-left: 440px;
}
.formulario{
    text-align: center;
}
.mainContacto{
    margin-top: 80px;
    margin-bottom: 80px;
}
/*footer*/
#footer{
    background-color: rgb(172, 228, 238);
    padding-left: 30%;
}
#footer section{
    margin: 30px;
    margin-left: 50px;
}
.cajaFooter img{
    height: 30px;
    width: 40px;
}
.cajaFooter1,
.cajaFooter2,
.cajaFooter{
    padding: 2px;
    display: inline-block;
}
.cajaFooter2 h4{
    margin-top: 2px;
    margin-bottom: 2px;
}
#seguinos img{
    height: 40px;
    width: 40px;
}