// Variables
$color-primario: rgb(172, 228, 238);
$hover-boton: rgb(89, 211, 233);
// alternativa con mapa de variables
$color-fondos:(
    primary:rgb(172, 228, 238),
    secondary: rgb(89, 211, 233)
);
