@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.ofertaoff{
    display: none;
}
/*Inicio contenido pagina home*/
/*contenido header*/
#header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(172, 228, 238);
    .logocontenedor{
        margin-left: 20px;
        .logo{
            width: 140px;
            height: 110px;
        }
    }
}
/*contenido main*/
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.seccionCajaOfertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cajaOfertas{
        .imagenArticulo{
            height: 230px;
            width: 250px;
        }
        .imagenOferta{
            height: 70px;
            width: 100px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px gray;
        margin: 20px;
        div button{
            margin: 5px 0px;
            width: 100px;
            height: 25px;
            background-color: rgb(172, 228, 238);
            border: 1px solid rgb(172, 228, 238);
            border-radius: 5px;
        }
        div button:hover{
            background-color: rgb(89, 211, 233);
            cursor: pointer;
        }
    }
}
.cajaAdopta{
    display: flex;
    justify-content: center;
}
@media(min-width: 768px){
    .cajaAdopta2 img{
        display: none;
    }
    .cajaAdopta{
        margin: 20px 0px;
        img{
            box-shadow: 0 0 10px gray;
        }
    }
}
@media(max-width: 767px){
    .cajaAdopta{
        margin: 0px;
        img{
            display: none;
        }
    }
    .cajaAdopta2{
        display: flex;
        justify-content: center;
        margin: 10px 0px;
        img{
            height: 250px;
            width: 250px;
            box-shadow: 0 0 10px gray;
        }
    }
}
/*contenido footer*/
#footer{
    background-color: rgb(172, 228, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h4{
        margin: 10px 0px;
    }
    .CajaMediosDePagos img{
        height: 30px;
        width: 45px;
    }
    .CajaHorariosSeguinos img{
        height: 40px;
        width: 40px;
    }
    .CajaMediosDePagos,
    .CajaHorariosSeguinos,
    .CajaDondeEstamos{
        margin: 20px 50px 0px;
    }
}
/*Contenido main pagina perros y pagina gatos*/
@media(min-width: 768px){
    .SubMainGatos,
    .SubMainGatosAcc,
    .SubMainPerrosAcc,
    .SubMainPerros{
        display: grid;
        justify-content: center;
        grid-template-columns: 200px 350px 350px;
        grid-template-areas:
        "tit tit tit"
        "cat art art"
        "cat art art"
        "cat art art"
        "cat art art"
        ;
    }
    .seccionCategorias{
        grid-area: cat;
        padding: 20px;
        margin: 0px 10px 10px;
    }
    .cajasLista{
        display: flex;
        margin: 0px 10px 10px;
        .CajalistaImagen{
            img{
                height: 180px;
                width: 180px;
            }
        }
        .CajaListaDescripcion{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            .BotonDescripcion{
                margin: 50px;
            }
        }    
    }    
}
@media(max-width: 767px){
    .seccionCategorias{
        margin: 10px;
        padding: 5px;
    }
    .cajasLista{
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        text-align: center;
        .CajalistaImagen{
            img{
                height: 180px;
                width: 180px;
            }
        }
        .CajaListaDescripcion{
            .BotonDescripcion{
                margin: 10px;
            }
        }
    }    
}
.TituloPagina{
    grid-area: tit;
}
.seccionCategorias{
    background-color: rgb(241, 240, 240);
    .cajaCategorias ul li{
        list-style-type: none;
        margin-left: 10px;
        a{
            text-decoration: none;
        }
    }
}
.seccionArticulos{
    grid-area: art;
    .cajasLista{
        box-shadow: 0 0 10px gray;
        .CajaListaDescripcion{
            .TextoDescripcion{
                p, h2{
                    margin: 20px 0px;
                }
            }
            .BotonDescripcion{
                button{
                    width: 100px;
                    height: 25px;
                    background-color: rgb(172, 228, 238);
                    border: 1px solid rgb(172, 228, 238);
                    border-radius: 5px;
                }
                button:hover{
                    background-color: rgb(89, 211, 233);
                    cursor: pointer;
                }
            }
        }
    }
}
/*contenido main accesorios perros y gatos*/
@media(min-width: 768px){
    #mainGatosAcc,
    #mainPerrosAcc{
        margin-bottom: 330px;
        .SubMainPerrosAcc, .SubMainGatosAcc{
            .seccionArticulos{
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0 0 10px gray;
                row-gap: 60px;
                padding: 10px;
                margin-bottom: 10px;
            }
        }
    }    
}
@media(max-width: 767px){
    .SubMainPerrosAcc, .SubMainGatosAcc{
        .seccionArticulos{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 5px 10px 5px;
            padding: 5px;
            box-shadow: 0 0 10px gray;
        }
    }
}
.accvolver{
    button{
        width: 100px;
        height: 25px;
        background-color: rgb(172, 228, 238);
        border: 1px solid rgb(172, 228, 238);
        border-radius: 5px;
    }
    button:hover{
        background-color: rgb(89, 211, 233);
        cursor: pointer;
    }
}
/*Contenido main pagina nosotros*/
.Nosotros{
    display: grid;
    text-align: center;
    .AcercaNosotros{
        margin-bottom: 20px;
    }
    .DondeEstamos{
        margin: 10px;
        h3{
            margin-bottom: 10px;
        }
    }
}

@media(min-width: 768px){
    .MarcasTrabajadas2 img{
        display: none;
    }
    .MarcasTrabajadas img{
        height: 400px;
        width: 900px;
        box-shadow: 0 0 10px gray;
        margin-top: 10px;
    }
}
@media(max-width: 767px){
    .Nosotros{
        display: flex;
        flex-direction: column;
        .AcercaNosotros p{
            margin-bottom: 0;
        }
        .MarcasTrabajadas{
            img{
                display: none;
            }
            h3{
                margin-bottom: 10px;
            }
        }
        .MarcasTrabajadas2 img{
            height: 520px;
            width: 300px;
            box-shadow: 0 0 10px gray;
        }
        .DondeEstamos iframe{
            height: 200px;
            width: 250px;
        }
    }
    
}
/*Contenido main pagina contacto*/
@media(min-width: 768px){
    #mainContacto{
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 400px;
        grid-template-areas:
        "Tit Tit"
        "Log For"
        ;
        margin-top: 20px;
        margin-bottom: 70px;
        .TituloContacto{
            grid-area: Tit;
            justify-self: center;
        }    
        .Formulario{
            grid-area: For;
            display: grid;
            margin: 20px 0px;
            width: 400px;
            .ItemFormulario{
                display: grid;
                margin: 5px 0px;
                button{
                    background-color: rgb(172, 228, 238);
                    border: 1px solid rgb(172, 228, 238);
                    border-radius: 5px;
                }
            }
        }
    }    
}
@media(max-width: 767px){
    #mainContacto{
        display: flex;
        flex-direction: column;
        .TituloContacto h1{
            text-align: center;
        }
        .LogoContacto{
            display: flex;
            justify-content: center;
            img{
                height: 180px;
                width: 180px;
            }
        }    
        .Formulario{
            .Formulario2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .TextArea{
                    width: 182px;
                }
                .ItemFormulario{
                    display: flex;
                    flex-direction: column;
                    button{
                        background-color: rgb(172, 228, 238);
                        border: 1px solid rgb(172, 228, 238);
                        border-radius: 5px;
                        margin: 5px;
                        width: 182px;
                    }
                }
            }    
        }
    }    
}
.LogoContacto{
    grid-area: Log;
}
/*Contenido pagina alimento perros y gatos*/
@media(min-width: 768px){
    .alimento2{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 160px;
        padding: 40px;
        .cuadrofotodescripcion{
            box-shadow: 0 0 10px gray;
            text-align: center;
            padding: 20px;
            .imagenArticulo{
                height: 230px;
                width: 250px;
            }
            .imagenOferta2{
                height: 60px;
                width: 90px;
            }
        }
        .cuadrodescripcionprecio{
            box-shadow: 0 0 10px gray;
            text-align: center;
            padding: 20px;
            p, h3{
                margin: 20px;
            }            
            .BotonComprar{
                button{
                width: 150px;
                height: 25px;
                background-color: rgb(172, 228, 238);
                border: 1px solid rgb(172, 228, 238);
                border-radius: 5px;
                }
                button:hover{
                    background-color: rgb(89, 211, 233);
                    cursor: pointer;
                }
            }
        }
    }
}
@media(max-width: 767px){    
    .alimento{
        display: flex;
        flex-direction: column;
        align-items: center;
        .alimento2{
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 10px gray;
            width: 250px;
            margin-bottom: 10px;
            .cuadrofotodescripcion{
                display: flex;
                flex-direction: column;
                align-items: center;
                .imagenArticulo{
                    height: 230px;
                    width: 250px;
                }
                .imagenOferta2{
                    height: 50px;
                    width: 80px;
                }
            }
            .cuadrodescripcionprecio{
                text-align: center;
                h3, p{
                    margin: 5px;
                }
                .BotonComprar{
                    button{
                    margin-bottom: 5px;
                    width: 150px;
                    height: 25px;
                    background-color: rgb(172, 228, 238);
                    border: 1px solid rgb(172, 228, 238);
                    border-radius: 5px;
                    }
                    button:hover{
                        background-color: rgb(89, 211, 233);
                        cursor: pointer;
                    }
                } 
            }    
        }
    }    
}