// contenido header
#header{
    display: flex;
    justify-content: space-between;
    background-color: map-get($color-fondos, primary);
    .logocontenedor{
        margin-left: 20px;
        .logo{
            width: 140px;
            height: 110px;
        }
    }
}