// contenido header
#header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, map-get($color-fondos, primary),map-get($color-fondos, secondary));
    .logocontenedor{
        margin-left: 20px;
        .logo{
            width: 140px;
            height: 110px;
        }
    }
}