// Contenido estilo pagina alimento perros y gatos
.BotonComprar{
    button{
        height: 25px;
        width: 150px;                    
        @extend %atributos-botones;
    }
}
.imagenArticulo{
    @include Imagen-Articulo(250px, 230px)
}
// Vista desktop
@media(min-width: 768px){
    .alimento2{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 100px;
        padding: 40px;
        .cuadrofotodescripcion{
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: $sombrasbox;            
            height: 290px;
            width: 385px;
            .imagenOferta2{
                height: 60px;
                width: 90px;
                transform: rotate(10deg);
            }
        }
        .cuadrodescripcionprecio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: $sombrasbox;
            text-align: center;
            height: 290px;
            width: 620px;
            p, h3{
                margin: 10px 20px;
            }            
        }
    }
}
// Vista mobile
@media(max-width: 767px){    
    .alimento{
        display: flex;
        flex-direction: column;
        align-items: center;
        .alimento2{
            display: flex;
            flex-direction: column;
            box-shadow: $sombrasbox;
            width: 250px;
            margin-bottom: 10px;
            .cuadrofotodescripcion{
                display: flex;
                flex-direction: column;
                align-items: center;
                .imagenOferta2{
                    height: 50px;
                    width: 80px;
                }
            }
            .cuadrodescripcionprecio{
                text-align: center;
                h3, p{
                    margin: 5px;
                }
                .BotonComprar{
                    button{
                        margin-bottom: 5px;
                    }
                } 
            }    
        }
    }    
}