// Contenido estilos pagina contacto
// Vista desktop
.LogoContacto{
    grid-area: Log;
}
.ItemFormulario{
    button{
        @extend %atributos-botones;
    }
}
@media(min-width: 768px){
    #mainContacto{
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 400px;
        grid-template-areas:
        "Tit Tit"
        "Log For"
        ;
        margin-top: 20px;
        margin-bottom: 40px;
        .TituloContacto{
            grid-area: Tit;
            justify-self: center;
        }    
        .Formulario{
            grid-area: For;
            display: grid;
            margin: 20px 0px;
            width: 400px;
            .ItemFormulario{
                display: grid;
                margin: 5px 0px;
            }
        }
    }    
}
// Vista mobile
@media(max-width: 767px){
    #mainContacto{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .TituloContacto h1{
            text-align: center;
        }
        .LogoContacto{
            display: flex;
            justify-content: center;
            img{
                height: 180px;
                width: 180px;
            }
        }    
        .Formulario{
            .Formulario2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .TextArea{
                    width: 182px;
                }
                .ItemFormulario{
                    display: flex;
                    flex-direction: column;
                    button{
                        margin: 5px;
                        width: 182px;                        
                    }
                }
            }    
        }
    }    
}