// Contenido estilos pagina perros y pagina gatos
// Vista desktop
.CajalistaImagen{
    img{
        @include Imagen-Articulo(180px, 180px)
    }
}
.TituloPagina{
    grid-area: tit;
}
.seccionCategorias{
    background-color: rgb(241, 240, 240);
    .cajaCategorias ul li{
        list-style-type: none;
        margin-left: 10px;
        a{
            text-decoration: none;
        }
    }
}
.seccionArticulos{
    grid-area: art;
    .cajasLista{
        box-shadow: $sombrasbox;
        .CajaListaDescripcion{
            .TextoDescripcion{
                p, h2{
                    margin: 20px 0px;
                }
            }
            .BotonDescripcion{
                button{
                    height: 25px;
                    width: 100px;                    
                    @extend %atributos-botones;
                }
            }
        }
    }
}
@media(min-width: 768px){
    .SubMainGatos,
    .SubMainGatosAcc,
    .SubMainPerrosAcc,
    .SubMainPerros{
        display: grid;
        justify-content: center;
        grid-template-columns: 200px 350px 350px;
        grid-template-areas:
        "tit tit tit"
        "cat art art"
        "cat art art"
        "cat art art"
        "cat art art"
        ;
    }
    .seccionCategorias{
        grid-area: cat;
        padding: 20px;
        margin: 0px 10px 10px;
    }
    .cajasLista{
        display: flex;
        margin: 0px 10px 10px;
        .CajaListaDescripcion{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            .BotonDescripcion{
                margin: 50px;
            }
        }    
    }    
}
// Vista mobile
@media(max-width: 767px){
    .seccionCategorias{
        margin: 10px;
        padding: 5px;
    }
    .cajasLista{
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;        
        margin: 10px;
        padding: 0px 5px;
        .CajaListaDescripcion{
            .BotonDescripcion{
                margin: 10px;
            }
        }
    }    
}