// Contenido estilos accesorios perros y gatos
.SubMainGatosAcc, .SubMainPerrosAcc{
    .TituloPagina{        
    }
    .seccionCategorias{
        background-color: rgb(241, 240, 240);
        ul{
            li{
                list-style: none;
            }
        }
    }
    .seccionArticulos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
// Vista desktop
@media(min-width: 768px){
    #mainGatosAcc,
    #mainPerrosAcc{
        margin-bottom: 330px;
        .SubMainPerrosAcc,
        .SubMainGatosAcc{
            margin: 50px;
            .seccionArticulos{
                box-shadow: $sombrasbox;
                row-gap: 60px;
                padding: 10px;
                margin-bottom: 10px;
                
            }
        }
    }    
}
// Vista mobile
@media(max-width: 767px){
    .SubMainPerrosAcc, .SubMainGatosAcc{
        .seccionCategorias{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 5px;
        }
        .seccionArticulos{
            margin: 0px 5px 10px 5px;
            padding: 5px;
            box-shadow: $sombrasbox;
            .accvolver{
                button{
                    height: 25px;
                    width: 100px;        
                    @extend %atributos-botones;
                }
            }
        }
    }
}