@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
// imagen de articulos en oferta si/no
.ofertaoff{
    display: none;
}
// imagenes de articulos para aplicar @extend
.ImagenArtVentaOferta{
    height: 230px;
    width: 250px;
}
@mixin Imagen-Articulo($ancho, $alto){
    width: $ancho;
    height: $alto;
}
// atributos botones
.atributos-botones{
    background-color: map-get($color-fondos, primary);
    border: 1px solid map-get($color-fondos, primary);
    border-radius: 5px;
    &:hover{
        background-color: map-get($color-fondos, secondary);
        cursor: pointer;
    }           
}