@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
// imagen de articulos en oferta si/no
.ofertaoff{
    display: none;
}